<md-card class="md-whiteframe-1dp md-padding">
	<md-card-content>
		<p class="md-title title-no-top">Ordenes de Entrega</p>
        <md-divider></md-divider>
		<div layout="row">
			<item flex="20">Espera</item> <item flex="5">:</item> <item flex="30">{{order.waiting}}</item>
		</div>
		<div layout="row">
		    <item flex="20">Procesadas</item> <item flex="5">:</item> <item flex="30">{{order.processed}}</item>
		</div>
		<div layout="row">
		    <item flex="20">Total</item> <item flex="5">:</item> <item flex="30">{{order.total}}</item>
		</div>
	</md-card-content>
    <div layout="row">
        <md-card-content flex="50">
            <p class="md-title title-no-top">Informe de artículos</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">En app</item> <item flex="5">:</item> <item flex="20">{{product.published}}</item>
            </div>
            <div layout="row">
                <item flex="40">Por definir</item> <item flex="5">:</item> <item flex="20">{{product.draft}}</item>
            </div>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Disponibles</item> <item flex="5">:</item> <item flex="20">{{product.ready_stock}}</item>
            </div>
            <div layout="row">
                <item flex="40">En uso</item> <item flex="5">:</item> <item flex="20">{{product.out_of_stock}}</item>
            </div>
            <div layout="row">
                <item flex="40">Suspendidos</item> <item flex="5">:</item> <item flex="20">{{product.suspend}}</item>
            </div>
        </md-card-content>
        <md-card-content flex="50">
            <p class="md-title title-no-top">Informe de Departamentos</p>
            <md-divider></md-divider>
            <div layout="row">
                <item flex="40">Asignados</item> <item flex="5">:</item> <item flex="20">{{category.published}}</item>
            </div>
            <div layout="row">
                <item flex="40">En Espera</item> <item flex="5">:</item> <item flex="20">{{category.draft}}</item>
            </div>
        </md-card-content>
    </div>
</md-card>
<br>
