<md-card class="md-whiteframe-1dp md-padding">
  <form role="form" name="thisForm" id="thisForm" novalidate class="md-padding">

	  <!--original = { buyer: null, address: null, email: null, shipping: null, date_ship: now, phone: null, comment: null, status: "WAITING", total_fees: 0 , created_at: now, last_update: now };-->
	<div layout="row">
		<md-input-container flex="45">
			<label>Asignado a *</label>
			<input required name="name" ng-model="order.buyer" maxlength="50">
		</md-input-container>
	</div>

	<div layout="row">
		<md-input-container flex="20">
		  	<label>Telefono *</label>
		  	<input required name="email" ng-model="order.email" maxlength="50">
		</md-input-container>
		<span flex="5"></span>
		<md-input-container flex="20">
			<label>Email *</label>
			<input required name="phone" value="ke@vin.cc"ng-model="order.phone" maxlength="50">
		</md-input-container>
	</div>

	<div layout="row">
		<md-input-container flex="45">
			<label>Observaciones *</label>
			<textarea required name="address" maxlength="200" ng-model="order.address" rows="2"></textarea>
		</md-input-container>
	</div>

	<div layout="row">
		<md-input-container flex="20">
		  	<label>Embarque *</label>
			<md-select required ng-model="order.shipping">
				<md-option ng-repeat="s in shipping_array" value="{{s}}">{{s}}</md-option>
			</md-select>
		</md-input-container>
		<span flex="5"></span>
		<md-datepicker required flex="20" ng-model="date_ship" md-placeholder="Date Shipping *" style="padding-top:12px;"></md-datepicker>
	</div>

	<div layout="row">
	  	<md-input-container flex="20">
			<label>Estatus de orden *</label>
			<md-select required ng-model="order.status">
			  	<md-option ng-repeat="s in status_array" value="{{s}}">{{s}}</md-option>
			</md-select>
	  	</md-input-container>
	</div>
	<div layout="row">
		<md-input-container flex="45">
		  	<label>Comentarios</label>
		  	<textarea name="address" maxlength="200" ng-model="order.comment" rows="2"></textarea>
		</md-input-container>
	</div>
	<div>
		<h4>Lista de Articulos : </h4>
		<md-divider></md-divider>
		<div layout="row">
		  	<item flex="5">No.</item> <item flex="50">Articulo</item><item flex="5">Cantidad</item><item flex="20"></item>
			<item flex="10" layout="row" layout-align="center">Acciones</item>
		</div>
		<md-divider></md-divider>
		<div layout="row" ng-repeat="pod in order_details">
		  	<item flex="5">{{$index+1}}</item><item flex="50">{{pod.product_name}}</item><item flex="5">{{pod.amount}}</item><item flex="20"></item>
			<item flex="10" layout="row" layout-align="center">
				<div layout="row" layout-align="center">
					<md-button layout-align="center" class="md-btn-small" ng-click="editProductDialog($event, pod)">
						<md-icon class="md-ic-small ic-small">create</md-icon>
					</md-button>
					<md-button layout-align="center" class="md-btn-small" ng-click="removeProduct(pod)">
						<md-icon class="md-ic-small ic-small">clear</md-icon>
					</md-button>
				</div>
			</item>
		</div>
		<div layout="row">
			<md-button flex="100" md-no-ink ng-click="addProductDialog($event)" class="md-accent md-raised md-hue-1">Agregar articulo a la lista.</md-button>
		</div>
	<br><br>
    <em> (*) Campo requerido</em>

    <div class="md-actions md-padding" layout="row">
		<span flex></span>
		<md-button ng-if="!submit_loading" class="md-warn" ng-click="cancel()" > Cancelar </md-button>
		<md-button ng-if="!submit_loading" ng-disabled="!isReadySubmit() || thisForm.$invalid" ng-click="submit(order)" class="md-raised md-primary"> {{button_text}} </md-button>
		<md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
    </div>
  </form>
</md-card>
