<md-dialog layout="column" flex="70" aria-label="dialog place">
  <form role="form" name="thisForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Detalles de embarque</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">clear</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="autoScroll">
    <div layout="row">
      <item flex="25">Asignado a</item> <item flex="5"> : </item> <item>{{order.buyer}}</item>
    </div>
    <div layout="row">
      <item flex="25">Email</item> <item flex="5"> : </item> <item>{{order.email}}</item>
    </div>
    <div layout="row">
      <item flex="25">Phone</item> <item flex="5"> : </item> <item>{{order.phone}}</item>
    </div>
    <div layout="row">
      <item flex="25">Observaciones</item> <item flex="5"> : </item> <item>{{order.address}}</item>
    </div>

    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">Embarque</item> <item flex="5"> : </item> <item>{{order.shipping}}</item>
    </div>
    <div layout="row">
      <item flex="25">Fecha</item> <item flex="5"> : </item> <item>{{order.date_ship | date:'dd MMMM yyyy'}}</item>
    </div>

    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">Estatus</item> <item flex="5"> : </item>
      <item>
        <waiting ng-if="order.status=='WAITING'">{{order.status}}</waiting>
        <processed ng-if="order.status=='PROCESSED'">{{order.status}}</processed>
        <cancel ng-if="order.status=='CANCEL'">{{order.status}}</cancel>
      </item>
    </div>

    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">Creado</item> <item flex="5"> : </item> <item>{{order.created_at | date:'hh.mm, dd MMMM yyyy'}}</item>
    </div>
    <div layout="row">
      <item flex="25">Ultima actualización</item> <item flex="5"> : </item> <item>{{order.last_update | date:'hh.mm, dd MMMM yyyy'}}</item>
    </div>

    <md-divider class="margin-divider"></md-divider>
    <div layout="row">
      <item flex="25">Comentarios</item> <item flex="5"> : </item> <item>{{order.comment}}</item>
    </div>
    <md-divider class="margin-divider"></md-divider>

    <br>
    <h3>Lista de Articulos : </h3>
    <md-divider></md-divider>
    <div layout="row">
      <item flex="5">No.</item> <item flex="55">articulo</item> <item flex="5">Cantidad</item>
    </div>
    <md-divider></md-divider>

    <div layout="row" ng-repeat="pod in order_details">
      <item flex="5">{{$index+1}}</item><item flex="55">{{pod.product_name}}</item> <item flex="5">{{pod.amount}}</item>
    </div>

  </md-dialog-content>
  <div class="md-actions" layout="row" style="padding-left: 8px;" ng-if="process">
    <md-button flex="100" md-no-ink ng-click="processOrder(order)" class="md-accent md-raised" >Procesar orden</md-button>
  </div>
  </form>
</md-dialog>
